<div class="form-title"><h2>Event Details</h2></div>
<table><tr><td>
<div class="form-title">Service</div>
<input class="form-field" type="text" name="serviceId" id="serviceId" value="{{service.comment}}" readonly /><br >
<div class="form-title">Start</div>
<input class="form-field" type="datetime-local" step="1" name="start" id="start" value="{{startISO_8601}}" readonly /><br />
<div class="form-title">Duration</div>
<input class="form-field" type="time" step="1" name="duration" id="duration" value="{{duration}}" readonly /><br />
</td><td>
<div class="form-title">Title</div>
<input class="form-field" type="text" name="title" id="title" value="{{title}}" readonly /><br />
<div class="form-title">Synopsis</div>
<textarea class="form-field" cols="40" rows="3" name="synopsis" id="synopsis" readonly >{{synopsis}}</textarea><br />
</td></tr></table>
<div class="submit-container">
    <a href="#" class="submit-button">Delete Event</a>
</div>