<div class="form-title"><h2>Service Details</h2></div>
<table><tr><td>
<div class="form-title">PID</div>
<input class="form-field" type="number" min="1" name="pid" id="pid" value="{{pid}}" readonly/><br />
<div class="form-title">Signal ID</div>
<input class="form-field" type="number" min="1" name="signalId" id="signalId" value="{{signalId}}" readonly/><br />
<div class="form-title">Original Network ID</div>
<input class="form-field" type="number" min="1" name="originalNetworkId" id="originalNetworkId" value="{{originalNetworkId}}" readonly/><br />
</td><td>
<div class="form-title">Transport Stream ID</div>
<input class="form-field" type="number" min="1" name="transportStreamId" id="transportStreamId" value="{{transportStreamId}}" readonly/><br />
<div class="form-title">Comment</div>
<input class="form-field" type="text" name="comment" id="comment" value="{{comment}}" readonly/><br />
</td></tr></table>
<div class="submit-container">
    <a href="#" class="submit-button">Delete Service</a>
</div>